<!DOCTYPE html>
<html>
<head>
    <title>Movie Watchlist</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<style>
.body{
    background-image: linear-gradient(to bottom, rgb(200, 240, 218), rgb(236, 168, 156));
  background-repeat: no-repeat;
    background-attachment: fixed;
}

</style>

<body style="background-image: linear-gradient(to bottom, rgb(200, 240, 218), rgb(151, 165, 224));
background-repeat: no-repeat;
  background-attachment: fixed;">
<div class="container">
    <h1>Movie Watchlist</h1>
    <form action="/result" method="POST">
        <textarea
          rows="1"
          cols="40"
          name="text"
          placeholder="input your username"
          maxlength="100"
        ></textarea>
        <input type="Submit" value="submit" required></input>
 <br>

    {%if text%}
        {% for i in range(2, (data[0] + 2))%}
        <tr>
        <th style="color: #e84855;">{{data[i]}}</th> <br>
        </tr>
        {% endfor%}
    {% endif %}

    <h1>Add a Movie</h1>
    <form action="/add" method="POST">
        <textarea
          rows="1"
          cols="40"
          name="text"
          placeholder="add a movie"
          maxlength="100"
        ></textarea>
        <input type="Submit" value="submit" required></input>
 <br> 
        {%if text%}
        {% for i in range(2, (data[0] + 2))%}
        <tr>
        <th style="color: #e84855;">{{data[i]}}</th> <br>
        </tr>
        {% endfor%}
        {% endif %} 

</form>     
</div>


</body>
</html>