<!DOCTYPE html>
<html>
<head>
    <title>Movie Watchlist</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<style>
.body{
    background-image: linear-gradient(to bottom, rgb(200, 240, 218), rgb(236, 168, 156));
  background-repeat: no-repeat;
    background-attachment: fixed;
}

</style>

<body style="background-image: linear-gradient(to bottom, rgb(238, 246, 241), rgb(104, 158, 228));
background-repeat: no-repeat;
  background-attachment: fixed;">
<div class="container">
    <center>
        <h1>Movie Watchlist</h1>
        <form action="/get_watchlist" method="POST">
            <input type="text" id="username" name="name"></input>
            <input type="Submit"></input>
        </form>
     <br> <br> <br>

     <form action="/add_movie" method="POST">
        <input type="text" id="get_movie" name="movie"></input>
        <input type="Submit" ></input>
    </form>

    <br>
   
    </form>  
    

    {%if text%}

        <h4>{{ userid }}'s Watchlist</h4>
        <br>
        {% for movie in data[0]%}
        <tr>
        <th style="color: #e84855;">{{movie}}</th> <br>
        </tr>
        {% endfor%}

        <h4>Recommendations for {{ userid }}</h4>
        {% for rec in data[1]%}
        <tr>
        <th style="color: #e84855;">{{rec}}</th> <br>
        </tr>
        {% endfor%}
        <br>

    {% endif %}
    <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        



</div>

</center>
   



</body>
</html>