<!DOCTYPE html>
<html>
<head>
    <title>Movie Watchlist</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<style>
.body{
    background-image: linear-gradient(to bottom, rgb(200, 240, 218), rgb(151, 165, 224));
  background-repeat: no-repeat;
    background-attachment: fixed;
}

</style>

<body style="background-image: linear-gradient(to bottom, rgb(200, 240, 218), rgb(151, 165, 224));
background-repeat: no-repeat;
  background-attachment: fixed;">
<div class="container">
    <h1>Movie Watchlist</h1>
    <form class="grid" action="/result" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"  required>
        <br>
        <input type="submit" name="username" value="View Movies">
    </form>
</div>

    <h3 style="font-size: 40px;">My Watchlist</h3>
          <table width = screen.width class="center">
            {% for word1 in data[i]%}
              <tr>
                <th style="color: #e84855;">{{word1}}</th>
                 </tr>
            {% endfor%}
          </table>

</body>
</html>